<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add new Robot</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <style>
    body {
      background-color: #f8f9fa;
    }

    .container {
      max-width: 600px;
      margin: 50px auto;
      background-color: #ffffff;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    h1 {
      text-align: center;
      margin-bottom: 30px;
    }

    label {
      font-weight: bold;
    }

    input,
    select {
      width: 100%;
      padding: 10px;
      margin-bottom: 15px;
      border: 1px solid #ced4da;
      border-radius: 4px;
      box-sizing: border-box;
    }

    select {
      cursor: pointer;
    }

    input[type="submit"] {
      background-color: #007bff;
      color: #ffffff;
      cursor: pointer;
    }

    input[type="submit"]:hover {
      background-color: #0056b3;
    }
  </style>
</head>

<body>
  <div class="container">
    <form action="/robot/add" method="post">
      <h1>Add new Robot</h1>
      <div class="mb-3">
        <label for="model" class="form-label">Robot model:</label>
        <input type="text" name="model" id="model" class="form-control" required>
      </div>
      <div class="mb-3">
        <label for="image" class="form-label">Robot image:</label>
        <input type="url" name="image" id="image" class="form-control" required>
      </div>
      <div class="mb-3">
        <label for="price" class="form-label">Robot Price:</label>
        <input type="text" name="price" id="price" class="form-control" required>
      </div>
      <div class="mb-3">
        <label for="brand" class="form-label">Robot brand:</label>
        <select name="brand" id="brand" class="form-select">
          {{#each brands }}
          <option value="{{ _id }}"> {{ name }}</option>
          {{/each}}
        </select>
      </div>
      <div class="mb-3">
        <input type="submit" value="Add" class="btn btn-primary">
      </div>
    </form>
  </div>


</body>

</html>
